---
import DocsLogo from "@/docs/components/docs-logo/DocsLogo.astro";
import SocialIconSimple from "@/docs/components/social/SocialIconSimple.astro";
import { docsRoute } from "@/docs/js/docsUtils";
import { getLocaleFromUrl } from "@/docs/js/localeUtils";
import { getTranslatedData } from "@/docs/js/translationUtils";

import FooterLink from "./FooterLink.astro";

const currLocale = getLocaleFromUrl(Astro.url);
const docsSiteData = getTranslatedData("siteData", currLocale);

const today = new Date();

interface FooterLinkItem {
  label: string;
  href: string;
  newTab?: boolean;
}

const docLinks: FooterLinkItem[] = [
{ label: "Whitepapers", href: "https://supra.com/research/", newTab: false },
  { label: "Bug Bounty", href: "https://supra.com/bug-bounty/", newTab: false },
  { label: "Audits", href: "https://docs.supra.com/audit-reports", newTab: true },
];

const communityLinks: FooterLinkItem[] = [
  { label: "Supra Dev Hub", href: "https://github.com/supra-labs/supra-dev-hub/", newTab: true },
  { label: "Documentation Repository", href: "https://github.com/supra-labs/supra-dev-hub/", newTab: true },
];

---

<footer class="bg-background text-foreground mt-8 border-t">
  <div class="docs-site-container pt-8 pb-16">
    <div class="grid grid-cols-1 gap-8 text-sm sm:grid-cols-2 lg:grid-cols-4">
      <!-- Logo and Description (Column 1) -->
      <div class="flex flex-col items-start">
        <DocsLogo />
        <!-- Social Links -->
        <div class="mt-3 flex flex-wrap gap-3">
          {docsSiteData.footerSocials?.map((social) => <SocialIconSimple {...social} size="sm" />)}
        </div>
        <!-- Copyright -->
        <div class="text-foreground/60 mt-4 text-xs">
          <p>&copy; {today.getFullYear()} {docsSiteData.title}</p>
        </div>
      </div>

      <!-- Documentation Links (Column 2) -->
      <div class="flex flex-col gap-2">
        <h3 class="font-medium">Links</h3>
        {
          docLinks.map((link) => (
            <FooterLink href={link.href} newTab={link.newTab}>
              {link.label}
            </FooterLink>
          ))
        }
      </div>

      <!-- Community Links (Column 3) -->
      <div class="flex flex-col gap-2">
        <h3 class="font-medium">Dev Links</h3>
        {
          communityLinks.map((link) => (
            <FooterLink href={link.href} newTab={link.newTab}>
              {link.label}
            </FooterLink>
          ))
        }
      </div>
    </div>
  </div>
</footer>